.form-register {
  background-color: var(--primary-color);
  width: 600px;
  height: 600px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form label {
  text-align: left;
  width: 80%;
}

.logo-register {
  width: 50%;
  border-radius: 500%;
  margin-top: -90px;
}

.input-register {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-register {
  width: 64%;
  background-color: var(--secondary-color);
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btn-register:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .form-register {
    width: 80%;
    height: auto;
  }

  .logo-register {
    width: 70%;
    max-width: 60%;
    border-radius: 50%;
    margin-top: -20;
  }

  .input-register {
    width: 80%;
  }

  .btn-register {
    width: 80%;
    margin-bottom: 20px;
  }
}
